.deleteButton {
  height: 50px;
  background-color: #d25353;
  font-size: 15px;
  font-weight: bold;
}
.applyButton {
  height: 50px;
  background-color: #5379d2;
  font-size: 15px;
  font-weight: bold;
}

.homePage {
  /* width: 100%; */
  height: calc(100vh-80px);
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  gap: 10px;
}
.homePage .postContents {
  width: 65%;
  height: auto;
  max-height: 600px;
  background-color: #fff;
  box-shadow: 3px 3px 15px 1px #777777;
  margin: 20px;
  padding: 25px 30px 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  justify-self: center;
}

.postHeader h1 {
  text-align: center;
  margin-top: 5px;
}

.postContents .postTextContainer {
  height: auto;
  word-wrap: break-word;
  max-height: 400px;
  width: 100%;
}

.nameAndDeleteButton {
  display: flex;
  align-items: center;
}

.nameAndDeleteButton button {
  flex: 10%;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.deleteButton:hover {
  background-color: #9f3e3e;
}

.applyButton:hover {
  background-color: #37508a;
}

.nameAndDeleteButton h3 {
  flex: 80%;
}

.userImg2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.postContent {
  padding: 10px 50px;
}

.moji {
  font-size: 15px;
  margin-bottom: 7px;
}

.date {
  color: rgb(99, 99, 99);
  padding: 0 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
}

.sport {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
